<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VLoginUser1()">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

    <form name="fUserForm" ng-submit="ACreateUser0(fUserForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fUserSubmitted && fUserForm.user.$invalid && fUserForm.user.$pristine && fUserSubmitted}"><label for="fUser_user">Nombre de Usuario</label><input id="fUser_user" type="text" name="user" class="form-control" ng-model="fUser.user" placeholder="Nombre de Usuario" required/><p ng-show="fUserSubmitted && fUserForm.user.$invalid" class="help-block">Error en campo Nombre de Usuario.</p></div>
            <div class="form-group" ng-class="{ 'has-error' :  fUserSubmitted && fUserForm.password.$invalid && fUserForm.password.$pristine && fUserSubmitted}"><label for="fUser_password">Contraseña</label><input id="fUser_password" type="password" name="password" class="form-control" ng-model="fUser.password" placeholder="Contraseña" required/><p ng-show="fUserSubmitted && fUserForm.password.$invalid" class="help-block">Error en campo Contraseña.</p></div>
        <button type="submit" class="btn btn-perso btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span>Registrar
        </button>
    </form>
    <hr />


<div id="right"></div>
